---
import { joinClasses } from "../utils/joinClasses";
import { Image } from "astro:assets";
type Props = {
  classes: string;
  styles: string;
  url?: string;
  width?: number;
  height?: number;
  dimRation?: number;
  overlayColor: string;
  customOverlayColor: string;
  minHeight?: number;
  minHeightUnit?: string;
};
const {
  classes,
  styles,
  url,
  width,
  height,
  dimRation = 50,
  overlayColor,
  customOverlayColor,
  minHeight,
  minHeightUnit,
} = Astro.props;

let minHeightValue = "";
if (minHeight && minHeightUnit) {
  minHeightValue = `min-height: ${minHeight}${minHeightUnit}`;
}

let overlayStyle = "";
if (customOverlayColor) {
  overlayStyle = `background: ${customOverlayColor}`;
}

if (overlayColor) {
  overlayStyle = `background: var(--color--${overlayColor})`;
}
---

<div class={joinClasses(classes, "relative")} style={styles}>
  {
    !!url && (
      <Image
        class="absolute w-full object-cover h-full !max-w-full"
        src={url}
        width={width || 1000}
        height={height || 1000}
        alt=""
      />
    )
  }
  <div
    class="absolute top-0 left-0 right-0 bottom-0 bg-black !max-w-full !mt-0"
    style={`opacity: ${dimRation / 100}; ${overlayStyle}`}
  >
  </div>
  <div
    style={minHeightValue}
    class="z-10 relative !mt-0 min-h-[430px] flex flex-col justify-center gap-4"
  >
    <slot />
  </div>
</div>
